/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

app/Components/*
app/Services/*
app/Http/Controllers/SampleController.php
.env.testing
.env.dusk.local
phpcs.xml
phpstan.neon
phpunit.xml
